.dashboard-layout {
  min-height: 100vh;
}

.dashboard-layout__content {
  min-height: 100vh;
  width: 100%;
  padding: 72px 16px 24px;
}

@media (min-width: 992px) {
  .dashboard-layout__content {
    margin-left: 292px;
    width: calc(100% - 292px);
    padding: 28px 28px 32px;
  }
}
